<link rel="stylesheet" href="/components/cards/small-card.css" />
<link rel="stylesheet" href="/pages/base.css" />

<script src="/components/cards/cards.js" defer></script>

<div class="container-header">
  <input class="search" id="searchItems" placeholder="Filter Books..." />
  <a class="add-new" href="/books/new">Add New Book</a>
</div>

<% if (books.length === 0) { %>
  <div class="no-books">
    <p>No books available.</p>
    <form action="/insert" method="POST">
      <button type="submit" class="insert-books">Insert Default</button>
    </form>
  </div>
<% } else { %>
  <ul>
    <% books.forEach(book => { %>
    <li>
      <a class="book-link" href="/books/<%= book.id %>">
        <div
          class="image"
          style="
            background-image: url('<%= book.image_url || `/assets/images/book.png`%>');
          "
        ></div>
        <div class="info">
          <div>
            <strong class="title"><%= book.title %></strong>
            <p class="author"><%= book.author_name %></p>
          </div>
        </div>
      </a>
      <div class="buttons">
        <a id="updateForm" class="edit tag-link" href="/books/<%= book.id %>/edit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-edit"
          >
            <title>Edit Icon</title>
            <path
              d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
            ></path>
            <path
              d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
            ></path>
          </svg>
        </a>
        <form
          action="/books/<%= book.id %>/delete"
          method="POST"
          style="display: inline"
          id="deleteForm"
        >
          <button class="remove tag-link" type="submit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-trash-2"
            >
              <title>Remove Icon</title>
              <polyline points="3 6 5 6 21 6"></polyline>
              <path
                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
              ></path>
              <line x1="10" y1="11" x2="10" y2="17"></line>
              <line x1="14" y1="11" x2="14" y2="17"></line>
            </svg>
          </button>
        </form>
      </div>
    </li>
    <% }) %>
  </ul>
<% } %>
