<link rel="stylesheet" href="/book-page/book-page.css" />

<img
  class="cover"
  src="<%= book.image_url || '/assets/images/book.png' %>"
  alt=""
/>
<div class="info">
  <div class="page-header-container">
    <div>
      <h1 class="title"><%= title %></h1>
      <p class="author"><%= author %></p>
    </div>
    <div class="category-actions">
      <a href="/books/<%= book.id %>/edit" class="btn edit-btn">Edit</a>
      <form action="/books/<%= book.id %>/delete" method="POST" class="delete-form">
        <button type="submit" class="btn delete-btn">Remove</button>
      </form>
    </div>
  </div>
  
  <div class="description">
    <% description.forEach(paragraph => { %>
    <p><%= paragraph %></p>
    <% }) %>
  </div>
</div>
